---
import favicon from '../images/home/favicon.png';
---

<header class="header">
  <nav>
    <a class="logo" href="/">
      <img alt="Tushar Sharma" src={favicon} />
      <span>tusharsharma</span>
    </a>
    <span></span>
    <ul>
      <!-- <li>
            <DarkModeToggle />
          </li> -->
    </ul>
  </nav>
</header>
