---
import favicon from '../images/home/favicon.png';
import DarkModeToggle from './DarkModeToggle.astro';
---

<header class="header">
  <nav>
    <a class="logo" href="/">
      <img alt="Tushar Sharma" src={favicon} />
      <span>home</span>
    </a>
    <span></span>
    <ul>
      <li>
        <DarkModeToggle />
      </li>
    </ul>
  </nav>
</header>
